.detournee {
  text-decoration: underline;
}

.contandante {
  font-weight: bold;
}

article h1,article h2 ,article h3 {
  color: red;
}

aside nav ul ul {
  list-style-type: none;
}

article #annexes :nth-last-child(3)>ul

#armes > ul {
  color: green;
}

article ul ul{
  color: blue;
}

body article img{
  height: 1em;
}

aside img{
  width : 20vw;
}

